/*========== header ==========*/
header {
  background: #fff;
  border-bottom: 5px solid #FF004D;
  padding: 27.5px 0; }
  header .logo {
    margin: 0 auto 0 0; }

.menu {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 48px 0 0;
  font-size: 20px;
  font-weight: 300; }
  .menu li a {
    min-width: 170px;
    color: #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .menu li a:hover {
      color: #FF004D; }
  .menu li .dropdown-item {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin: 0 0 15px;
    color: #000000;
    font-weight: 400;
    padding: 10px 25px; }
    .menu li .dropdown-item:hover {
      color: #FF004D;
      background: transparent; }
    .menu li .dropdown-item:last-child {
      margin: 0; }
    .menu li .dropdown-item.active {
      background: transparent;
      color: #FF004D; }

.dropdown-menu {
  margin: 8px 0 0;
  padding: 0;
  border: none;
    border-radius: 0;
  background: #FFFFFF;
  text-align: left;
  line-height: 20px;
  font-size: 20px; }

.location-item {
  color: #000000;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 76px 0 0; }
  .location-item__icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 18px 0 0;
    width: 18px;
    height: 25px; }

.dropdown-toggle:after {
  display: none; }

.dropdown-toggle__icon {
  width: 16px;
  height: 10px;
  fill: #000000;
  margin: 0 0 0 10px; }

/*==========  header end  ==========*/
/*==========  section  ==========*/
/*==========  section end  ==========*/
