/*==========  section home ==========*/
.home {
  background: #000 url("../img/bg1.png") no-repeat center;
    background-size: cover;
  padding: 240px 0;
  color: #fff; }
  .home .btn {
    max-width: 300px;
    width: 100%; }

.description-company {
  margin: 15px 0 80px;
  font-size: 36px; }

/*==========  section home end  ==========*/
/*==========  section cities ==========*/
.cities {
  margin: 86px 0 98px; }
  .cities .btn {
    margin: 26px auto 0; }
  .cities h2 {
    margin: 0 auto 80px; }

.cities-box {
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  color: #fff;
  width: 100%;
  height: 200px; }
  .cities-box:hover {
    color: #FF004D; }
  .cities-box:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
    background: rgba(0, 0, 0, 0.5);
    z-index: 1; }
  .cities-box__img {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }
  .cities-box__content {
    padding: 30px 25px;
    width: 100%;
    z-index: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
  .cities-box__title {
    font-size: 24px;
    margin: 0 0 11px; }
  .cities-box__subtitle {
    font-size: 20px;
    font-weight: 300; }
  .cities-box span {
    display: block; }

/*==========  section cities end  ==========*/
/*==========  section blog ==========*/
.blog {
  margin: 80px 0; }
  .blog h2 {
    margin: 0 auto 60px; }

.blog-box {
  width: 100%; }
  .blog-box__bg {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
  .blog-box__img {
    width: 100%;
    height: 200px;
    position: relative;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    color: #fff; }
    .blog-box__img:hover {
      color: #FF004D; }
  .blog-box__footer {
    padding: 22px 0 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .blog-box__content {
    width: 100%;
    position: relative;
    z-index: 1;
    padding: 22px 45px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
    .blog-box__content span {
      display: block; }
  .blog-box .view {
    margin: 0; }

.list-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .list-rating li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 24px;
    height: 24px;
    margin: 0; }

.view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 0 0 auto;
  font-size: 18px;
  font-weight: 300;
  color: #6B6B6B; }
  .view-icon {
    margin: 0 13px 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 24px;
    min-width: 24px; }

.blog-section {
  margin: 50px 0 65px; }
  .blog-section h3 {
    font-size: 30px;
    line-height: 35px;
    font-weight: 600; }
  .blog-section__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .blog-section .list-rating {
    margin: 0 0 0 25px; }
  .blog-section .box-text {
    color: #000000;
    font-size: 18px;
    font-weight: 300;
    line-height: 25px; }
    .blog-section .box-text p {
      margin: 0 0 25px; }
  .blog-section__img {
    margin: 0 0 50px;
    width: 100%; }
    .blog-section__img img {
      width: 100%; }

.blog-section-item {
  padding: 21px 0 60px;
  border-top: 3px solid #FF004D;
  border-bottom: 3px solid #FF004D; }

.share {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 15px 0 0;
  font-size: 20px;
  font-weight: 600; }
  .share p {
    margin: 0 10px 0 0; }

.list-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .list-social li {
    margin: 0 5px 0 0; }
    .list-social li a {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      width: 35px;
      height: 35px;
      padding: 5px; }

/*==========  section blog end  ==========*/
/*==========  section advantages ==========*/
.advantages {
  margin: 50px 0 15px; }

.advantages-box {
  text-align: center;
  font-size: 24px;
  line-height: 35px; }
  .advantages-box__icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 50%;
    background: #FF004D;
    margin: 0 auto 33px;
    width: 100px;
    height: 100px;
    padding: 25px;
    position: relative; }
  .advantages-box__text {
    padding: 16px 0 0;
    position: relative; }
    .advantages-box__text:before {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      -webkit-transform: translate(-50%, 0);
              transform: translate(-50%, 0);
      width: 100px;
      height: 3px;
      background: #000; }

/*==========  section advantages end  ==========*/
/*==========  section latest-articles ==========*/
.latest-articles {
  margin: 69px 0 92px; }
  .latest-articles h2 {
    margin: 0 auto 60px; }

.latest-articles-slider .slick-slide {
  padding: 0 13px; }

.latest-articles-slider .slick-list {
  margin: 0 -13px; }

.latest-article-item {
  position: relative;
  width: 100%;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: #fff;
  padding: 24px 49px;
  line-height: 35px; }
  .latest-article-item__img {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }
  .latest-article-item:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
    background: rgba(39, 39, 39, 0.45);
    z-index: 1; }
  .latest-article-item__content {
    width: 100%;
    position: relative;
    z-index: 1; }
  .latest-article-item__title {
    font-size: 24px; }
  .latest-article-item__subtitle {
    font-size: 20px;
    font-weight: 300; }

/*==========  section latest-articles end  ==========*/
/*==========  section catalog ==========*/
.btn-filter {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  fill: #000;
  margin: 0 0 0 auto; }
  .btn-filter.open {
    fill: #FF004D; }

.catalog {
  margin: 40px 0 90px; }
  .catalog h1 {
    font-size: 24px;
    margin: 0 0 35px; }

.filter-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 0 35px;
  font-size: 18px;
  font-weight: 300; }

.questionnaires {
  margin: 0 0 0 auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content; }

.sorting-item {
  margin: 0 0 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  height: 40px;
  border: 1px solid #C4C4C4;
  color: #000;
  padding: 0 20px; }
  .sorting-item:hover {
    color: #FF004D; }
  .sorting-item.active {
    color: #FF004D;
    border-color: #FF004D; }

.sorting-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.sidebar {
  width: 100%; }

.category-links {
  width: 100%;
  background: #FF004D;
  color: #fff;
  margin: 0 0 15px;
  height: 40px;
  font-size: 20px;
  padding: 0 10px 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .category-links:hover {
    color: #fff;
    background: #63B012; }
  .category-links:last-child {
    margin: 0; }

.form-filter {
  width: 100%;
  margin: 35px 0 0; }

.accordion {
  background: transparent;
  border: none;
    border-radius: 0; }
  .accordion .card {
    margin: 0 0 15px;
    border: none;
      border-radius: 0;
    background: transparent; }
    .accordion .card:last-child {
      margin: 0; }
    .accordion .card .card-header {
      margin: 0; }
  .accordion .card-header {
    background: transparent;
    cursor: pointer;
    padding: 7px 23px;
    border: 1px solid transparent;
      border-radius: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 20px;
    margin: 0; }
    .accordion .card-header .collapse-icon {
      opacity: 0; }
    .accordion .card-header.collapsed {
      border: 1px solid #C4C4C4; }
      .accordion .card-header.collapsed .collapse-icon {
        opacity: 1; }
  .accordion .card-body {
    padding: 10px 23px 0; }

.collapse-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 10px;
  height: 6px;
  fill: #000; }

.checkbox {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 15px;
  font-size: 18px;
  font-weight: 300;
  font-family: "Lato", sans-serif; }
  .checkbox:last-child {
    margin: 0; }

.inp-check {
  display: none; }

.checkbox-custom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 15px;
  height: 15px;
  min-width: 15px;
  margin: 0 10px 0 0;
  background: #C4C4C4; }
  .checkbox-custom:before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 11px;
    height: 11px;
    background: #fff;
    -webkit-transition: .3s ease;
    transition: .3s ease; }

.inp-check:checked + .checkbox-custom:before {
  background: #FF004D; }

.catalog-card {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border: 1px solid #E20036;
  background: #FFFFFF;
  margin: 0 0 30px;
  padding: 35px 40px 35px 300px; }
  .catalog-card:last-child {
    margin: 0; }
  .catalog-card__image {
    max-width: 227px;
    width: 100%;
    position: absolute;
    top: 35px;
    left: 45px; }
  .catalog-card__img {
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    height: 180px;
    width: 180px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .catalog-card__img > img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover; }
    .catalog-card__img .list-rating {
      position: absolute;
      bottom: 25px;
      left: 50%;
      -webkit-transform: translate(-50%, 0);
              transform: translate(-50%, 0);
      -webkit-filter: brightness(0) invert(1);
              filter: brightness(0) invert(1); }
  .catalog-card__content {
    width: calc(100% - 227px);
    padding: 0 0 0 30px; }
  .catalog-card__head {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .catalog-card__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 24px;
    font-weight: 600;
    color: #000; }
  .catalog-card__body {
    width: 100%;
    margin: 27px 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .catalog-card__footer {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 29px 0 0; }
  .catalog-card__nav {
    margin: 0 0 0 auto; }

.button-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.comment-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  font-weight: 300;
  color: #FF004D; }
  .comment-links__icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 21px;
    height: 21px;
    min-width: 21px;
    margin: 0 0 0 12px; }

.price-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FF004D;
  color: #fff;
  font-size: 14px;
  border: 1px solid #E20036;
  padding: 0 15px;
  height: 35px;
  margin: 0 68px 0 0; }

.price-value {
  font-size: 18px;
  font-weight: 500;
  margin: 0 10px 0 0; }

.characteristics-box {
  margin: 0 20px 0 0; }
  .characteristics-box:last-child {
    margin: 0; }
  .characteristics-box h4 {
    margin: 0 0 20px; }

.characteristics-box-user {
  margin: 0 60px 0 0; }

.list-characteristics span {
  font-weight: 300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.list-characteristics p {
  min-width: 70px; }

.list-characteristics li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 15px; }
  .list-characteristics li:last-child {
    margin: 0; }

.list-characteristics-address li {
  margin: 0 0 12px; }

.icon-auto {
  margin: 0 10px 0 0;
  width: 15px;
  min-width: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.icon-time {
  margin: 0 4px 0 0; }

.verification {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 0 5px; }

.add-favorite {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 25px;
  height: 25px;
  fill: #000; }

.location-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto 0 -20px;
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase; }

.location-user-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 27px 0 0; }
  .location-user-item:last-child {
    margin: 0; }
  .location-user-item__icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 10px 0 0;
    width: 15px;
    min-width: 15px; }

.position-user {
  width: 100%;
  font-size: 14px;
  font-weight: 300; }

.catalog-card-contacts {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 30px 0 0;
  padding: 0 0 0 6px; }

.phone-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.status-user {
  margin: 0 12px 0 0;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 34px;
  height: 34px;
  min-width: 34px;
  background: #000;
  position: relative;
  fill: #FFF500;
  padding: 6px; }
  .status-user:before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    border: 1px solid #FFFFFF;
      border-radius: 50%;
    width: calc(100% - 4px);
    height: calc(100% - 4px); }

.phone-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  color: #000; }
  .phone-user__icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 50%;
    background: #1578ED;
    width: 34px;
    height: 34px;
    min-width: 34px;
    fill: #fff;
    position: relative; }
    .phone-user__icon:before {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      border: 1px solid #FFFFFF;
        border-radius: 50%;
      width: calc(100% - 4px);
      height: calc(100% - 4px); }
  .phone-user__text {
    margin: 0 0 0 6px; }
  .phone-user .svg-icon {
    width: 16px;
    height: 16px; }
  .phone-user:hover {
    color: #FF004D; }

.dropdown-sorting .dropdown-toggle {
  border: 1px solid #E8E8E8;
  padding: 0 23px 0 5px;
  font-size: 14px;
  color: #000;
  min-width: 148px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .dropdown-sorting .dropdown-toggle:before {
    content: '';
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    right: 10px;
    border: none;
    width: 13px;
    height: 7px;
    background: url("../img/arrow-dropdown.svg") no-repeat center;
      background-size: 100%; }

.dropdown-sorting .dropdown-menu {
  margin: 5px 0 0;
  background: #E8E8E8;
  border: none;
    border-radius: 0;
  font-size: 14px;
  font-weight: 300;
  min-width: auto;
  width: 100%; }

.dropdown-sorting .dropdown-item {
  color: #000000;
  padding: 5px; }
  .dropdown-sorting .dropdown-item:hover {
    color: #FF004D; }
  .dropdown-sorting .dropdown-item.active {
    color: #FF004D;
    background: transparent; }

/*==========  section catalog end  ==========*/
/*==========  section  ==========*/
/*==========  section end  ==========*/
/*==========  section  ==========*/
/*==========  section end  ==========*/
/*==========  section  ==========*/
/*==========  section end  ==========*/
/*==========  section  ==========*/
/*==========  section end  ==========*/
/*==========  section  ==========*/
/*==========  section end  ==========*/
/*==========  section  ==========*/
/*==========  section end  ==========*/
/*==========  section attention-info ==========*/
.attention-info {
  color: #fff;
  background: #2C2C2C;
  padding: 44px 0; }

.attention-info-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .attention-info-box__icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 35px;
    min-width: 35px;
    margin: 0 22px 0 0; }

/*==========  section attention-info end  ==========*/
