@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: normal;
  font-family: "Lato", sans-serif;
  font-weight: normal;
  background: #fff;
  color: #000000;
  -webkit-font-feature-settings: 'pnum' on, 'lnum' on;
          font-feature-settings: 'pnum' on, 'lnum' on; }

html, body {
  overflow-x: hidden; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

.text-center {
  text-align: center; }

a {
  display: block;
  text-decoration: none;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  outline: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content; }
  a:hover, a:focus {
    text-decoration: none; }

input, textarea, select {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Lato", sans-serif;
  border: none;
    border-radius: 0;
  width: 100%;
  height: 55px;
  background: #E8E8E8;
  color: #000; }
  input::-webkit-input-placeholder, textarea::-webkit-input-placeholder, select::-webkit-input-placeholder {
    color: #000; }
  input::-moz-placeholder, textarea::-moz-placeholder, select::-moz-placeholder {
    color: #000; }
  input::-ms-input-placeholder, textarea::-ms-input-placeholder, select::-ms-input-placeholder {
    color: #000; }
  input::placeholder, textarea::placeholder, select::placeholder {
    color: #000; }
  input:hover, textarea:hover, select:hover {
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none; }

label {
  display: block;
  width: 100%;
  margin: 0 0 7px; }
  label:last-child {
    margin: 0; }

button, .btn {
  outline: none;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  cursor: pointer;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-family: "Lato", sans-serif;
  padding: 0;
  margin: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border: none;
    border-radius: 0; }
  button:hover, button:focus, .btn:hover, .btn:focus {
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none; }

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 0 18px; }

.btn-accent {
  color: #fff;
  background: #FF004D; }
  .btn-accent:hover {
    -webkit-box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
            box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
    background: #E20036;
    color: #fff; }

.btn-green {
  background: #63B012;
  color: #fff; }
  .btn-green:hover {
    -webkit-box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
            box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
    color: #fff; }

.btn-border {
  background: rgba(0, 0, 0, 0.37);
  border: 1px solid #fff;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #fff;
  text-transform: uppercase; }
  .btn-border:hover {
    background: #fff;
    color: #000; }

.btn-black {
  background: #000;
  color: #fff;
  font-size: 24px;
  text-transform: uppercase;
  line-height: 35px; }
  .btn-black:hover {
    background: #FF004D;
    color: #fff; }

.btn-toggle {
  text-transform: none;
  width: 100%;
  font-size: 20px;
  font-weight: 600;
  line-height: 20px; }

.btn-xs {
  height: 35px;
  font-size: 16px; }

.btn-md {
  height: 40px;
  font-size: 20px;
  font-weight: 600; }

.btn-xl {
  height: 60px;
  font-size: 20px;
  max-width: 300px;
  width: 100%;
  text-transform: uppercase; }

.svg-icon {
  display: inline-block;
  width: 100%;
  height: 100%; }

strong, b {
  font-weight: bold;
  display: inline-block; }

.my-ul {
  list-style: none; }

.container {
  max-width: 1200px; }

h1 {
  width: 100%;
  font-size: 64px;
  font-weight: bold; }

h2 {
  width: 100%;
  font-size: 36px;
  font-weight: 600;
  text-align: center;
  margin: 0 auto 40px; }

.mb-30 {
  margin-bottom: 30px; }

.mb-50 {
  margin-bottom: 50px; }

.slick-slider {
  width: 100%; }

.slick-prev {
  left: -43px; }

.slick-next {
  right: -43px; }

.slick-slide {
  outline: none; }

.slick-arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: 24px;
  height: 24px;
  background: #FF004D;
  fill: #fff;
  border-radius: 50%;
  padding: 6px 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  outline: none; }
  .slick-arrow:hover {
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none; }

.links-white {
  color: #fff;
  margin: 0 auto;
  font-size: 16px;
  font-weight: 300;
  line-height: 35px; }
  .links-white:hover {
    color: #FF004D; }

.color-accent {
  color: #FF004D; }
  .color-accent:hover {
    color: #000; }
