@import "vars"

/*==========  footer  ==========*/
footer
  color: #fff
  padding: 74px  0 98px
  background: #000
  .logo
    margin: 22px 0 0 0

.footer-box
  max-width: 201px
  width: 100%

.links-chat
  display: flex
  color: #fff
  margin: 0 0 13px
  font-size: 18px
  text-align: left
  &:hover
    color: $accent
  &__icon
    margin: 0 20px 0 0
    display: flex
    align-items: center
    justify-content: center
    width: 24px
    min-width: 24px

.links
  color: #680019
  font-size: 14px
  font-weight: 300
  &:hover
    color: $accent

.footer-menu
  font-size: 20px
  li
    margin: 0 0 25px
    &:last-child
      margin: 0
    a
      color: #ffffff
      &:hover
        color: $accent


/*==========  footer end  ==========*/



/*==========  section  ==========*/

/*==========  section end  ==========*/