@import "vars"

/*========== header ==========*/
header
  background: #fff
  border-bottom: 5px solid #FF004D
  padding: 27.5px 0
  .logo
    margin: 0 auto 0 0

.menu
  text-align: center
  display: flex
  align-items: center
  flex-wrap: wrap
  margin: 0 48px 0 0
  font-size: 20px
  font-weight: 300
  li
    a
      min-width: 170px
      color: #000
      display: flex
      align-items: center
      justify-content: center
      &:hover
        color: $accent

.location-item
  color: #000000
  font-size: 20px
  display: flex
  align-items: center
  margin: 0 76px 0 0
  &__icon
    display: flex
    align-items: center
    justify-content: center
    margin: 0 18px 0 0
    width: 18px
    height: 25px

.dropdown-toggle
  &:after
    border: none
    width: 10px
    height: 16px
    background: url("../img/arrow-bottom.svg") no-repeat center
      size: 100%
    margin: 0 0 0 10px

/*==========  header end  ==========*/



/*==========  section  ==========*/

/*==========  section end  ==========*/