@import "vars"

/*==========  section home ==========*/
.home
  background: #000 url("../img/bg1.png") no-repeat center
    size: cover
  padding: 240px 0
  color: #fff
  .btn
    max-width: 300px
    width: 100%

.description-company
  margin: 15px 0 80px
  font-size: 36px

/*==========  section home end  ==========*/


/*==========  section cities ==========*/
.cities
  margin: 86px 0 98px
  .btn
    margin: 26px auto 0
  h2
    margin: 0 auto 80px

.cities-box
  position: relative
  overflow: hidden
  display: flex
  flex-direction: column
  justify-content: flex-end
  color: #fff
  width: 100%
  height: 200px
  &:hover
    color: $accent
  &:before
    content: ''
    position: absolute
    left: 0
    top: 0
    width: 100%
    height: 100%
    backdrop-filter: blur(5px)
    background: rgba(0, 0, 0, 0.5)
    z-index: 1
  &__img
    position: absolute
    left: 50%
    top: 50%
    transform: translate(-50%,-50%)
    width: 100%
    height: 100%
    object-fit: cover
  &__content
    padding: 30px 25px
    width: 100%
    z-index: 2
    display: flex
    flex-direction: column
    align-items: flex-start
    justify-content: flex-end
  &__title
    font-size: 24px
    margin: 0 0 11px
  &__subtitle
    font-size: 20px
    font-weight: 300
  span
    display: block

/*==========  section cities end  ==========*/


/*==========  section blog ==========*/
.blog
  margin: 80px 0
  h2
    margin: 0 auto 60px


.blog-box
  width: 100%
  &__bg
    width: 100%
    height: 100%
    object-fit: cover
    position: absolute
    left: 50%
    top: 50%
    transform: translate(-50%,-50%)
  &__img
    width: 100%
    height: 200px
    position: relative
    overflow: hidden
    display: flex
    flex-direction: column
    justify-content: flex-end
    color: #fff
    &:hover
      color: $accent
  &__footer
    padding: 22px 0 0
    width: 100%
    display: flex
    align-items: center
    justify-content: space-between
  &__content
    width: 100%
    position: relative
    z-index: 1
    padding: 22px 45px
    display: flex
    flex-direction: column
    align-items: flex-start
    justify-content: flex-end
    span
      display: block
  .view
    margin: 0

.list-rating
  display: flex
  align-items: center
  li
    display: flex
    align-items: center
    justify-content: center
    width: 24px
    height: 24px
    margin: 0

.view
  display: flex
  align-items: center
  width: fit-content
  margin: 0 0 0 auto
  font-size: 18px
  font-weight: 300
  color: #6B6B6B
  &-icon
    margin: 0 13px 0 0
    display: flex
    align-items: center
    width: 24px
    min-width: 24px

.blog-section
  margin: 50px 0 65px
  h3
    font-size: 30px
    line-height: 35px
    font-weight: 600
  &__title
    display: flex
    align-items: center
    flex-wrap: wrap
  .list-rating
    margin: 0 0 0 25px
  .box-text
    color: #000000
    font-size: 18px
    font-weight: 300
    line-height: 25px
    p
      margin: 0 0 25px
  &__img
    margin: 0 0 50px
    width: 100%
    img
      width: 100%

.blog-section-item
  padding: 21px 0 60px
  border:
    top: 3px solid $accent
    bottom: 3px solid $accent

.share
  display: flex
  align-items: center
  margin: 15px 0 0
  font-size: 20px
  font-weight: 600
  p
    margin: 0 10px 0 0

.list-social
  display: flex
  align-items: center
  flex-wrap: wrap
  li
    margin: 0 5px 0 0
    a
      display: flex
      align-items: center
      justify-content: center
      width: 35px
      height: 35px
      padding: 5px

/*==========  section blog end  ==========*/


/*==========  section advantages ==========*/
.advantages
  margin: 50px 0 15px

.advantages-box
  text-align: center
  font-size: 24px
  line-height: 35px
  &__icon
    display: flex
    align-items: center
    justify-content: center
    border-radius: 50%
    background: $accent
    margin: 0 auto 33px
    width: 100px
    height: 100px
    padding: 25px
    position: relative
  &__text
    padding: 16px 0 0
    position: relative
    &:before
      content: ''
      position: absolute
      top: 0
      left: 50%
      transform: translate(-50%,0)
      width: 100px
      height: 3px
      background: #000

/*==========  section advantages end  ==========*/


/*==========  section latest-articles ==========*/
.latest-articles
  margin: 69px 0 92px
  h2
    margin: 0 auto 60px

.latest-articles-slider
  .slick-slide
    padding: 0 13px
  .slick-list
    margin: 0 -13px

.latest-article-item
  position: relative
  width: 100%
  height: 200px
  display: flex
  align-items: flex-end
  justify-content: flex-start
  color: #fff
  padding: 24px 49px
  line-height: 35px
  &__img
    position: absolute
    left: 50%
    top: 50%
    transform: translate(-50%,-50%)
    width: 100%
    height: 100%
    object-fit: cover
  &:before
    content: ''
    position: absolute
    left: 0
    top: 0
    width: 100%
    height: 100%
    backdrop-filter: blur(5px)
    background: rgba(39, 39, 39, 0.45)
    z-index: 1
  &__content
    width: 100%
    position: relative
    z-index: 1
  &__title
    font-size: 24px
  &__subtitle
    font-size: 20px
    font-weight: 300

/*==========  section latest-articles end  ==========*/


/*==========  section  ==========*/

/*==========  section end  ==========*/


/*==========  section  ==========*/

/*==========  section end  ==========*/


/*==========  section  ==========*/

/*==========  section end  ==========*/

/*==========  section  ==========*/

/*==========  section end  ==========*/


/*==========  section  ==========*/

/*==========  section end  ==========*/


/*==========  section  ==========*/

/*==========  section end  ==========*/


/*==========  section  ==========*/

/*==========  section end  ==========*/


/*==========  section attention-info ==========*/
.attention-info
  color: #fff
  background: #2C2C2C
  padding: 0 0 0 10px
  padding: 44px 0

.attention-info-box
  display: flex
  align-items: center
  &__icon
    display: flex
    align-items: center
    justify-content: center
    width: 35px
    min-width: 35px
    margin: 0 22px 0 0


/*==========  section attention-info end  ==========*/