@import "fonts"
@import "vars"

*
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

  &:before, &:after
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box


html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
  margin: 0
  padding: 0
  border: 0
  font-size: 100%
  font: inherit
  vertical-align: baseline

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section
  display: block


blockquote, q
  quotes: none

blockquote:before, blockquote:after, q:before, q:after
  content: ''
  content: none

table
  border-collapse: collapse
  border-spacing: 0

body
  font-size: 16px
  min-width: 320px
  position: relative
  line-height: normal
  font-family: $default-font
  font-weight: normal
  background: #fff
  color: #000000
  font-feature-settings: 'pnum' on, 'lnum' on

html, body
  overflow-x: hidden

img
  display: block
  max-width: 100%
  height: auto

.text-center
  text-align: center

a
  display: block
  text-decoration: none
  transition: .3s ease
  outline: none
  width: fit-content
  &:hover, &:focus
    text-decoration: none

input, textarea, select
  outline: none
  box-shadow: none
  appearance: none
  padding: 0
  box-sizing: border-box
  font-family: $default-font
  border: none
    radius: 0
  width: 100%

  &:hover
    outline: none
    box-shadow: none


label
  display: block
  width: 100%

button, .btn
  outline: none
  transition: .3s ease
  cursor: pointer
  box-shadow: none
  font-family: $default-font
  padding: 0
  margin: 0
  width: fit-content
  border: none
    radius: 0
  &:hover, &:focus
    outline: none
    box-shadow: none

.btn
  display: flex
  align-items: center
  justify-content: center
  text-align: center
  padding: 0 18px

.btn-accent
  color: #fff
  background: #FF004D
  &:hover
    box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25)
    background: #E20036
    color: #fff

.btn-green
  background: $green
  color: #fff
  &:hover
    box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25)
    color: #fff

.btn-border
  background: rgba(0, 0, 0, 0.37)
  border: 1px solid #fff
  backdrop-filter: blur(20px)
  box-sizing: border-box
  color: #fff
  text-transform: uppercase
  &:hover
    background: #fff
    color: #000

.btn-xs
  height: 35px
  font-size: 16px

.btn-md
  height: 40px
  font-size: 20px
  font-weight: 600

.btn-xl
  height: 60px
  font-size: 20px
  max-width: 300px
  width: 100%
  text-transform: uppercase



.svg-icon
  display: inline-block
  width: 100%
  height: 100%

strong, b
  font-weight: bold
  display: inline-block

.my-ul
  list-style: none

.container
  max-width: 1200px

h1
  width: 100%
  font-size: 64px
  font-weight: bold

h2
  width: 100%
  font-size: 36px
  font-weight: 600
  text-align: center
  margin: 0 auto 40px

.mb-30
  margin-bottom: 30px